.contaner{
	display:flex;
	height:100vh;
	margin:-8px;
}
.yellow{
	background:yellow;
	width:160px;
	flex:none;

}
.gray{
	background:gray;
	width:100vw;
	display:flex;
	flex-direction:column;
  justify-content: space-between;
}
.blue{
	background: blue;
	height: 160px;
	flex: none;

}
.middle{
	background: papayawhip;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.green{
	background: green;
	height: 140px;
flex: none;
}
.middle2{
	background: sandybrown;
 flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}
.red{
	background: red;
    width: 80px;

	flex: none;
}
.white{
	background: white;
	flex-grow: 2;
overflow: hidden;
	word-break: break-all;



}
